package {{invokerPackage}}

{{#imports}}import {{import}}
{{/imports}}
import {{apiPackage}}._
import org.http4s.client.blaze._
import org.http4s.client.Client


class {{clientName}}(injectedClient: Option[Client] = None) {

  val client = injectedClient.getOrElse(PooledHttp1Client.apply())
  {{#apiInfo}}{{#apis}}
  val {{classVarName}} = new {{classname}}(client)
  {{/apis}}{{/apiInfo}}

}
