package {{package}}

import java.time.{Instant => DateTime}
import java.time.{Instant => Date}
import java.util.UUID
import argonaut._, Argonaut._
import argonaut.derive.JsonCodec
import eveapi.argonautCodecs.ArgonautCodecs._

{{#models}}

{{#model}}
@JsonCodec case class {{classname}} (
  {{#vars}}{{name}}: {{^required}}Option[{{/required}}{{datatype}}{{^required}}]{{/required}}{{#hasMore}},{{/hasMore}}{{#description}}  // {{description}}{{/description}}
  {{/vars}}
)
{{/model}}
{{/models}}
