organization := "{{groupId}}"

name := "{{artifactId}}"

scalaVersion := "2.12.4"

val HTTP4S_VERSION = "0.18.2"

resolvers += Resolver.sonatypeRepo("releases")
resolvers += Resolver.sonatypeRepo("snapshots")

libraryDependencies ++= Seq(
  "org.http4s" %% "http4s-core"               % HTTP4S_VERSION,
  "org.http4s" %% "http4s-blaze-client"       % HTTP4S_VERSION,
  "org.http4s" %% "http4s-circe"              % HTTP4S_VERSION,
  "org.http4s" %% "http4s-json4s"             % HTTP4S_VERSION,
  "org.http4s" %% "http4s-dsl"                % HTTP4S_VERSION,
  "joda-time" % "joda-time" % "2.3",
  "org.joda" % "joda-convert" % "1.3.1",
  "io.dropwizard.metrics" % "metrics-core" % "3.1.2",
  "net.jodah" % "expiringmap" % "0.5.7",
  // "ch.qos.logback" % "logback-classic" % "1.0.13" % "provided",
  "org.scalatest" %% "scalatest" % "2.2.1" % "test",
  "junit" % "junit" % "4.11" % "test"
)

val circeVersion = "0.9.0-M1"

libraryDependencies ++= Seq(
  "io.circe" %% "circe-core",
  "io.circe" %% "circe-generic",
  "io.circe" %% "circe-parser",
  "io.circe" %% "circe-java8"
).map(_ % circeVersion)

addCompilerPlugin(
  "org.scalamacros" % "paradise" % "2.1.0" cross CrossVersion.full
)
