organization := "{{groupId}}"

name := "{{artifactId}}"

scalaVersion := "2.11.8"

val HTTP4S_VERSION = "0.15.0a"

resolvers += Resolver.sonatypeRepo("releases")

libraryDependencies ++= Seq(
  "org.http4s" %% "http4s-core"               % HTTP4S_VERSION,
  "org.http4s" %% "http4s-blaze-client"       % HTTP4S_VERSION,
  "org.http4s" %% "http4s-argonaut"           % HTTP4S_VERSION,
  "org.http4s" %% "http4s-json4s"             % HTTP4S_VERSION,
  "org.http4s" %% "http4s-dsl"                % HTTP4S_VERSION,
  "joda-time" % "joda-time" % "2.3",
  "com.github.alexarchambault" %% "argonaut-shapeless_6.2" % "1.2.0-M4",
  "org.joda" % "joda-convert" % "1.3.1",
  "io.dropwizard.metrics" % "metrics-core" % "3.1.2",
  "net.jodah" % "expiringmap" % "0.5.7",
  // "ch.qos.logback" % "logback-classic" % "1.0.13" % "provided",
  "org.scalatest" %% "scalatest" % "2.2.1" % "test",
  "junit" % "junit" % "4.11" % "test"
)

addCompilerPlugin(
  "org.scalamacros" % "paradise" % "2.1.0" cross CrossVersion.full
)

licenses += ("MIT", url("http://opensource.org/licenses/MIT"))
